<style>
	body {
		background-image: url("background.png");
		background-size: 100% 100%;
	}
	.border {
		background-size: 100% 100%;
		background-color: white;
	}
	table{
		font-size: 20px;
	}
	h1{
		font-size: 30px;
	}
	p{
		font-size: 20px;
	}
</style>
<div class="container">
	<center><DIV class = "border" style="border: 1px solid grey;padding:30px; width:1000px; height: 500px" >
    	<h1>FAQ</h1>
    <div class="row">
    <div class="col-sm-12">
    	<p style="text-align:left;">Maybe add some basic instructions and a quick how-to?</p>
    	<p style="text-align:left;">Perhaps a link to the wiki?</p>
    </div>
    </div>
</div>