<style>
	body {
		background-image: url("background.png");
		background-size: 100% 100%;
	}
	.border {
		background-size: 100% 100%;
		background-color: white;
	}
	table{
		font-size: 20px;
	}
	h1{
		font-size: 30px;
	}
	p{
		font-size: 20px;
	}
</style>
<body>
<div class="container">
	<center><DIV class = "border" style="border: 1px solid grey;padding:30px; width:100%; height: 100%" >
	<h1 style="text-align:center;"><b>Welcome To Team Error404 Website</b></h1>
    <div class="row">
    	<div class="col-sm-4">
    		<img src="pharmacy.jpg" class="img-responsive" alt="Pharmacy">
    		<img src="img/ph2.jpg" class="img-responsive" alt="Pharmacy">
    	</div>
    		<div style="text-align:center"><p><h2>SRePS</h2></p>
		      <p><h3>Pharmacy Sales Reporting and Prediction System</h3></p>
          <p>---------------------------------------------------------------------</p></div>
          <h4><b>About us: </b></h4>
		  <p>This is a sales reporting and prediction system for testing<p>
		  <br><h4><b>Mision: </b></h4>
		  <p>Our Phamacy target is to open an outlet and build the brand around Malaysia, we also plan to earn trust from every customer by ensuring that we provide excellent services and products at competitive prices.</p>
		  <br><h4><b>Vision: </b></h4>
		  <p>We strive to be one of Malaysia’s leading and most trusted pharmacy chain</p>
		  
     </div>
    	<div class="col-sm-4">
    		<p></p>
    	</div>
    </div>
</div>
</body>
